.app-container {
  margin-top: 50px;
}
.status-container {
  margin-bottom: 20px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.cell {
  border-width: 3px;
  border-style: solid;
  border-color: white;
  width: 100px;
  height: 100px;
}
/* color choices */
.green {
  background-color: #93BD73;
}
.yellow {
  background-color: #FFDD9E;
}
.orange {
  background-color: #E85F5C;
}
.burgundy {
  background-color: #844751;
}
.lilac {
  background-color: #D4CBE5;
}
.cyan {
  background-color: #86DFF5;
}
.blue {
  background-color: #557E93;
}
.mint {
  background-color: #BBE1C3;
}


.hidden {
  background-color: #CDD3CD;
}
.matched {
  background-color: white;
}